.home-catalog-responsive {
  img {
    height: 170px;
    width: 170px;
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'PlayfairDisplay-Regular';
    text-align: center;
    border-top: 1px solid $brand-secondary;
    margin-top: 30px;
    padding-top: 10px;
  }
  a:nth-of-type(2) {
    font-weight: bold;
  }

  [type='button'] {
    background-color: transparent;
    border: 1px solid black;
    font-family: Helvetica, Arial;
    font-size: 14px;
    padding: 5px 20px 5px 20px;
  }
}

.home-catalog-second {
  img {
    height: 290px;
    width: 290px;
  }

  h1 {
    font-size: 35px;
    font-weight: bold;
    font-family: 'PlayfairDisplay-Regular';
    text-align: center;
    border-top: 1px solid $brand-secondary;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
  }
  a {
    font-size: 22px;
    font-family: 'PlayfairDisplay-Regular';
  }

  a:nth-of-type(2) {
    font-weight: bold;
  }
}
