.header-connect {
  float: left;
  font-size: 20px;

  li {
    display: inline-block;
  }
}

@include media-breakpoint-up('lg') {
  .header-secondary {
    background: url('/images/banners/banner.png') center center no-repeat;
    background-size: cover;
    height: 500px;
  }
}

.header-controls {
  float: right;
  font-size: 20px;

  li {
    display: inline-block;

    [type='text'] {
      background-color: transparent;
      border: 0;
      color: $white;
      display: inline-block;
    }

    [type='submit'] {
      background-color: transparent;
      border: 0;
      color: gray;
      display: inline-block;
    }
  }
}

.search-box {
  border: 1px solid gray;
}

.header-secondary-responsive > * {
  font-size: 19px;
}
